In [1]:
import pandas as pd
df=pd.read_csv('Data.csv')
x=df[['Country','Age','Salary']]
y=df[['Purchased']]

In [4]:
print (x)
print("\n")
print(y)

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0


  Purchased
0        No
1       Yes
2        No
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes

In [7]:
p=x[x.Age.isnull()]
p

  Country  Age   Salary
6   Spain  NaN  52000.0

In [17]:
# Importing the dataset
X = df.iloc[:, :-1].values
y = df.iloc[:, 3].values

# Taking care of missing data
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [21]:
p=x['Age'].value_counts()
p

37.0    1
50.0    1
48.0    1
35.0    1
40.0    1
38.0    1
30.0    1
27.0    1
44.0    1
Name: Age, dtype: int64

In [23]:
print(x['Country'].value_counts())

France     4
Germany    3
Spain      3
Name: Country, dtype: int64